<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>forget password</title>
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/jumbotron.css">
</head>
<body>
    <% include discuss_header.ejs%>
    <div class="container">
    <div class="col-lg-6">
         <h1>忘记密码？</h1>
        <form>
                <div class="form-group">
                        <label for="username">username</label>
                        <input type="text" class="form-control username" id="username" placeholder="username">
                        <span class="erro"></span>
                 </div>
                <div class="form-group">
                  <label for="new-password">new password</label>
                  <input type="password" class="form-control password" id="new-password" placeholder="newpassword">
                  <span class="erro"></span>
                </div>
                <div class="form-group">
                  <label for="confirm-new-password">confirm password</label>
                  <input type="password" class="form-control checkpassword" id="confirm-new-password" placeholder="confirmpassword">
                  <span class="erro"></span>
                </div>
                <button  type="button" class="btn btn-default" id="btn-check-password">confirm</button>
              </form>
        </div>
    </div>   
    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.js"></script>
    <script src="js/discuss/check.js"></script>
    <script >
        $("#btn-check-password").click(function(event){
    event.preventDefault();
    $.post("/doforgetpassword",{
        "username":$("#username").val(),
        "newpassword":$("#new-password").val(),
        "confirmpassword":$("#confirm-new-password").val()
    },result=>{
        if(result=="1"){
            //更改密码成功
            window.location="/login";
        }else if(result=="-1"){
            //注册失败，用户名被占用
            $("#form-input-wrong").fadeIn();
        }else if(result=="-3"){
            //服务器错误
            alert('服务器错误');
        }else if(result=="-4"){
            //两次密码不一致
            alert("两次密码不一致");
        }    
    })
})
    </script>
</body>
</html>