<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Sign up</title>
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/jumbotron.css">
</head>
<body>
    <% include discuss_header.ejs%>
    <div class="container">
    <div class="col-lg-6">
        <form>
                <div class="form-group">
                  <label for="InputUsername">Username</label>
                  <input type="text" class="form-control username" id="InputUsername" placeholder="username" >
                   <span class="erro"></span>
                </div>
                <div class="form-group">
                  <label for="InputPassword">Password</label>
                  <input type="password" class="form-control password" id="InputPassword" placeholder="password">
                  <span class="erro"></span>
                </div>
                <div class="checkbox">
                  <label>
                    <input type="checkbox"> Agree the license
                  </label>
                </div>
                <button  type="button" class="btn btn-default" id="btn-login">Login</button>
                <div class="alert alert-success" role="alert" id="form-input-success">
                     <a href="#" class="alert-link">登录成功,即将跳转至首页</a>
                </div>
                <div class="alert alert-danger" role="alert" id="form-input-wrong">
                        <a href="#" class="alert-link">未注册，请先注册</a>
                </div>
              </form>
        </div>
    </div>   
    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.js"></script>
    <script src="js/discuss/button.js"></script>
    <script src="js/discuss/check.js"></script>
</body>
</html>