<!DOCTYPE html>
<html lang="en">
<head>
  <title>Aspect Ratio with Preview Pane | Jcrop Demo</title>
  <meta http-equiv="Content-type" content="text/html;charset=UTF-8" />
  <link rel="stylesheet" href="/css/jquery.Jcrop.css" type="text/css" />
</head>
<body>


  <img src="../avatar/<%=avatar%>" id="target" alt="[Jcrop Example]" />

  <div id="preview-pane">
    <div class="preview-container">
      <img src="../avatar/<%=avatar%>" class="jcrop-preview" alt="Preview" />
    </div>
  </div>

<input type="button" value="剪裁！！" id="btn">

<script src="/js/jquery.min.js"></script>
<script src="/js/jquery.Jcrop.js"></script>
<script type="text/javascript"src="/js/cutimage_xiaoguo.js"></script>
<script type="text/javascript" src="/js/discuss/button.js"></script>
</body>
</html>

