
<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/favicon.ico">

    <title>成员列表</title>
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/jumbotron.css" rel="stylesheet">

  </head>

  <body>
        <% include discuss_header.ejs %>
       <div class="container">
           <div class="all" >
            <% for(let i=0;i<alluser.length;i++){%>
                <div class="alluserlist">
                    <a href="/mymoments/<%=alluser[i].username%>">
                    <p><img src="/avatar/<%=alluser[i].avatar%>" /></p>
                    <p><%=alluser[i].username%></p>
                    </a>
                </div>
            <%} %>
            <div class="clear"></div>
           </div>
       </div>
     

        <div class="container">    
      <footer>
        <p>&copy; 2018 Chenxq, Practice.</p>
      </footer>
    </div> <!-- /container -->
    
    <script src="../js/jquery.min.js"></script>
    <script src="../js/bootstrap.min.js"></script>
    <script src="../js/underscore-min.js"></script>
    <script src="../js/discuss/button.js"></script>
    
  </body>
</html>
