
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>好友列表</title>
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/jumbotron.css">
</head>
<body>
    <% include discuss_header.ejs%>
    <div class="container">
         <div class="col-lg-4"></div>
         <div class="col-lg-16">
            <div class="friendlist">
                <% for(let i=0;i<friendlist.length;i++){%>
                <li>
                    <p class="friendlist-img"><img src="/avatar/<%=friendlist[i].avatar%>" /></p>
                    <p class="friendlist-name"><%=friendlist[i].username%></p>
                </li>
               <% } %>
            </div> 
         </div>
         <div class="col-lg-4"></div>
    </div>
   
    <script src="../js/jquery.min.js"></script>
    <script src="../js/bootstrap.js"></script>
    <script src="../js/discuss/button.js"></script>
</body>
</html>