<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <form action="" method="post">
        <p>登录名：<input type="text" id="username"></p>
        <p>密码：<input type="password" id="password"></p>
        <p>
            <input type="button" id="login_submit" value="登录"/>
            <input type="button" id="regist_submit" value="注册"/>
        </p>
    </form>
    <script type="text/javascript" src="/js/jquery.min.js"></script>
    <script type="text/javascript" src="/js/login/form.js"></script>
</body>
</html>