li{
    list-style: none;
}
.mynav>div.form-group{
    display: inline-block;
    margin-bottom: 0rem;
}
.navbar{
    /* background: rgb(34, 34, 34); */
    background:  #1e676b;
    padding: 0px;
}
.navbar-brand{
    color:rgb(157, 157, 157);
}
.navbar-brand:focus,
.navbar-brand:hover,
.navbar-brand:active{
    color:#fff;
}

.navbar-nav li a{
    display: inline-block;
    padding-top: .3125rem;
    padding-bottom: .3125rem;
    margin-right: 1rem;
    font-size: 1.25rem;
    line-height: inherit;
    white-space: nowrap;
    color:rgb(157, 157, 157);
    text-align: center;
    width:100%;
    padding-top: 6px;
}
.navbar-nav li a:focus,
.navbar-nav li a:hover,
.navbar-nav li a:active{
    color:#fff;
    background: #1e833c;
    border-bottom:7px solid  #1e833c;
}
.navbar-nav li a{
    text-decoration: none;
}
.navbar-nav li :focus,
.navbar-nav li :hover,
.navbar-nav li :active{
  background: #1e833c;
}

.navbar-nav{
  flex-direction:inherit;
  height: 48px;
}
.btn-default:focus,
.btn-default:hover,
.btn-default:active{
color:#fff;
}

#form-input-wrong, #form-input-success {
    display: none;
}
.done{
    color:rgb(157, 157, 157);
    font-size: 1.25rem;
    line-height: inherit;
}

.active{
    background: #1e833c;
}

.login-box{
    border-radius: 5px;
    background: #1e676b;
    width: 200px;
    flex: 0 10 30%;
    margin-left: 70px;
    height: 400px;
    color: #fff;
}
.login-form{
    margin-top: 30px;
}
.login-box h1{
    text-align: center;
    color: #23af9d;
    margin-top: 16px;
}
.login-button{
    text-align: center;
}
.login-button button{
    width: 90px;
}
.forget-password a{
    color:green;
    text-decoration: aqua;
}
.moments textarea{
    width:100%;
}
.show-content{
    background: #9fda9ff2;
    border-radius: 5px;
    box-shadow: 5px 5px 5px #888888;
    padding: 2px;
    height: 100px;
    overflow: hidden;
}
.userlist img{
    border-radius: 50%;
    height: 50px;
}
.userlist li{
    list-style: none;
}
.usermark{

}
.navigation{
    margin-top:10px;
    /* float: right; */
    margin-right: 200px;
}
.pagination{
    flex-wrap: wrap;
}
.pagination li{
    width: 30px;
    height: 26px;
    border: 1px solid #a8b3bf61;
    text-align: center;
    float: left;
}
.pagination li a{
    display: block;
    width:100%;
    height:100%;
}

.pagination li>a:hover,
.pagination li>a:focus,
.pagination li>a:active{
    color:inherit;
    text-decoration: none;
}
.pagination li:hover,
.pagination li:focus,
.pagination li:active{
    background:rgb(10, 192, 247);
    color:#fff;
}
.clear{
    clear:both;
}
.paginationlist{
    padding-inline-start: 0px;
}
#allmoments{
    min-height:500px;
}
.pageactive{
    background:rgb(10, 192, 247);
  
}
.personal-contents{
    border-bottom: 1px solid #ccc;
}
.head-user{
   height:100px;
   padding-top:40px;
   border-bottom: 2px solid #1e676b;
}
.head-img{
   
}
.alluser{
    display: flex;
    justify-content:space-between;
}
/* .alluser a{
    display: flex;
    width:100%;
    height:100%;
    align-items: center;
} */
.alluser a p{
    float: left;
}
.alluser-img{

}
.alluser-name{
    margin-left: 20px;
    font-style: normal;
    color: #000;
    font-size: 20px;
}
.jumbotron{
    background-color:#fff;
}
.alluser  a:focus,
.alluser  a:hover,
.alluser  a:active{
    background: #8fc7bf;
}
.alluserlist{
    width: 120px;
    text-align: center;
    float: left;
}
.alluserlist img{
    height:100px;
    weidth:100px;
}
.all{
    margin-top:10px;
}
.icon{
    height:18px;
}
.done a{
    color: rgb(157, 157, 157);
    text-decoration: none;
    margin-left:12px;
    font-size: 1.25rem;
}
.done a:hover,
.done a:focus{
    color:#fff;
}
.list-group-item.active{
    background-color:#1e833c;
}
.list-group{
    margin-top:20px;
}

/* 添加好友的按钮样式 */
.alluser-left{
    float: left;
}
.alluser-left p{
    display: inline-block;
}
.alluser-right{
    float:right;
    width:150px;
}
.add-for-user{
    width: 100px;
    border-radius: 5px;
    background: #82bd28;
    text-align: center;
    font-weight: 600;
    color: #0a632e;
    clear: left;
}

/* 回复评论和点赞的样式 */
.answer{
    float: right;
}

/* 好友列表的样式 */
.friendlist{
    display: flex;
    flex-wrap:  wrap;
}
.friendlist li{
   margin:5px;
   height:130px;
   width:200px;
   overflow: hidden;
}
.friendlist-img{
    height:100px;
    width:100px;
    border-radius: 50%;
    overflow: hidden;
    float: left;
}
.friendlist-name{
    font-size: x-large;
    font-weight: 900;
    font-style: unset;
    color: #324c0b;
    float: left;
    margin-top: 40px;
}


/* 会话中心页面的样式 */
#canvas{
    background:#ccc;
    border:1px solid #0a632e;
    margin-top:30px;
}